{% load static %}
<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    {% block links %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<header>
    <div class="container">
    <a href="{% if request.resolver_match.url_name != 'auth' %}{% url 'home' %}{% endif %}" class="logo">
        <img class="logo-image" src="{% static 'images/worldit.svg' %}" />
    </a>
    {% if request.resolver_match.url_name != "auth" %}
        <div class="navbar">
            
            <a href="{% url 'home' %}" class="navbar-url">
                <img class="navbar-image" src="{% static 'images/Vector.svg' %}" />
                <p class="navbar-text"><b>Головна</b></p>
            </a>
        
            <a href="{% url 'my_publications' %}" class="navbar-url">
                <img class="navbar-image" src="{% static 'images/pictures_img.svg' %}" />
                <p class="navbar-text"><b>Мої публікації</b></p>
            </a>
        
            <a href="{% url 'friends' %}" class="navbar-url">
                <img class="navbar-image" src="{% static 'images/friends.svg' %}" />
                <p class="navbar-text"><b>Друзі</b></p>
            </a>
        
            <a href="{% url 'chats' %}" class="navbar-url">
                <div class="navbar-icon-wrapper" style="position: relative; display: inline-block;">
                    <img class="navbar-image" src="{% static 'images/Group (1).svg' %}" />
                    <span id="globalChatBadge" class="notification-badge"></span>
                </div>
                <p class="navbar-text"><b>Чати</b></p>
            </a>
        
            <a href="{% url 'user' %}" class="navbar-url">
                <img class="navbar-image" src="{% static 'images/Settings.svg' %}" />
                <p class="navbar-text"><b>Налаштування</b></p>
            </a>
            
            <a href="{% url 'logout' %}" class="logout-btn">
                <img class="navbar-image" src="{% static 'images/logout.svg' %}" />
                <p class="logout-text">Вихід</p>
            </a>
        </div>
    {% endif %}
        </div>
</header>

<main>
    {% if request.resolver_match.url_name != "chats" %}
        <div class="side-bar">
        {% block side-bar %} 
            
        {% endblock %}
        </div>
        <div class="content">
        {% block content %} 

        {% endblock %}
        </div>
    {% else %}
    <div class="content-chats">
        {% block content-chats %} 

        {% endblock %}
    </div>
    {% endif %}
</main>

<footer>
    <P></P>
</footer>
    {% block scripts %}{% endblock %}
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'chats_app/js/onlineStatus.js' %}"></script>
    <script src="{% static 'chats_app/js/unread_messages.js' %}"></script>
</body>
</html>
