{% extends "base.html" %}
{% load static %}

{% block title %}
    Мої Друзі
{% endblock  %}

{% block links %}
    <link rel="stylesheet" href="{% static 'friends_app/css/friends.css' %}">
{% endblock  %}

{% block side-bar %}
     <div class="menu-block">
        <button id="menu-item-main" class="menu-item active">Головна</button>
        <button id="menu-item-requests" class="menu-item">Запити</button>
        <button id="menu-item-recomendations" class="menu-item">Рекомендації</button>
        <button id="menu-item-friends" class="menu-item">Всі друзі</button>
    </div>

{% endblock  %}

{% block content %}
    <div id="mainBlock" class="content-div" style="display: flex;">
    {% include 'friends_app/particles/main.html' %}
    </div>
    <div id="requestsBlock" class="content-div" style="display: none;">
    {% include 'friends_app/particles/requests.html' %}
    </div>
    <div id="recomendationsBlock" class="content-div" style="display: none;">
    {% include 'friends_app/particles/recomendations.html' %}
    </div>
    <div id="friendsBlock" class="content-div" style="display: none;">
    {% include 'friends_app/particles/friends.html' %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'friends_app/js/friends.js' %}"></script>
{% endblock %}