{% extends "base.html" %}
{% load static %}

{% block title %}
    Мої Друзі
{% endblock  %}

{% block links %}
    <link rel="stylesheet" href="{% static 'friends_app/css/friends.css' %}">
{% endblock  %}

{% block side-bar %}
     <div class="menu-block">
        <button id="menu-item-main" data-menu="main" class="menu-item active">Головна</button>
        <button id="menu-item-requests" data-menu="requests" class="menu-item">Запити</button>
        <button id="menu-item-recomendations" data-menu="recommendations" class="menu-item">Рекомендації</button>
        <button id="menu-item-friends" data-menu="friends" class="menu-item">Всі друзі</button>
    </div>

{% endblock  %}



{% block content %}

<div id="mainBlock" class="content-div">

    {% include 'friends_app/particles/main.html' %}

</div>


<div
    id="requestsBlock"
    class="content-div"
    style="display:none;"
>

    {% include 'friends_app/particles/requests.html' %}

</div>


<div
    id="recommendationsBlock"
    class="content-div"
    style="display:none;"
>

    {% include 'friends_app/particles/recommendations.html' %}

</div>


<div
    id="friendsBlock"
    class="content-div"
    style="display:none;"
>

    {% include 'friends_app/particles/friends.html' %}

</div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'friends_app/js/friends.js' %}"></script>
{% endblock %}