{% load static %}
<form action="{% url 'create_post' %}" method="post" enctype="multipart/form-data" id="createPostForm">
    <!-- {% csrf_token %} -->
    <button class="close-form" onclick="toggleStyleTag()" type="button"><img src="{% static 'my_publications/images/Component 5.svg' %}" alt="Publication Image"></button>
    <p class="form-title">Створення публікації</p>
    <div class="form-content">
        <div class="form-inputs">
            <label for="" class="form-label">Назва публікації</label>
            {{ form.title }}
        </div>

        <div class="form-inputs">
            <label for="" class="form-label">Тема публікації</label>
            {{ form.topic }}
        </div>

        <div class="form-tags">
            
            <input type="hidden" name="selected_tags" id="selectedTags">
            
            {% for tag in tag_list %}
                <button type="button" class="tag" data-tag="{{ tag.name }}">#{{ tag.name }}</button>
            {% endfor %}

            <button class="new-tag" type="button" onclick="newTag()">
                <img src="{% static 'my_publications/images/Inputs Tag.svg' %}" alt="">
            </button>
        </div>

        {{form.content}}

        <div class="form-inputs-links">
            <label for="" class="form-label">Посилання</label>
            <div>
                <div id="linksList">
                    <input type="url" name="links" class="form-input" placeholder="Напишіть посилання">
                </div>
                <button class="new-link" type="button" id="addLink"><img src="{% static 'my_publications/images/Inputs Tag.svg' %}" alt=""></button>
            </div>
        </div>
     </div>
    <div id="imagePreview" class="image-preview"></div>
    <div class="bottom-container">
        <label for="file-input">
            <img src="{% static 'my_publications/images/Component 3.svg' %}" alt="Загрузить"/>
        </label>
        <div>
            <input id="file-input" type="file" name="images" multiple accept="image/*" style="display: none;"/>
            <button type="submit">Публікація<img src="{% static 'my_publications/images/Component 6.svg' %}" alt="Publication Image"></button>
        </div>
    </div>
    
</form>