{% load static %}
{% for post in posts %}
    <div class="post">
        <div class="post-header">
            <div class="post-header-content">
                <div class="post-avatar">
                    <div class="indicator" data-chat-user="{{ post.author.id }}">
                        <img src="{% static 'my_publications/images/avatar.svg' %}" alt="avatar">
                        
                        <img class="avatar-indicator js-status-dynamic-icon" 
                             src="{% static 'chats_app/images/offline.svg' %}" 
                             data-offline-src="{% static 'chats_app/images/offline.svg' %}" 
                             alt="status">
                    </div>

                    <p class="user-name">
                        {{ post.author.first_name }}
                    </p>
                </div>

                <img class="singnature"
                    src="{% static 'my_publications/images/Interaction.svg' %}"
                    alt="">
            </div>

            <button type="button" class="more">
                <img src="{% static 'my_publications/images/more.svg' %}" alt="">
            </button>
        </div>

        <div class="post-content">

            <p class="post-title">
                {{ post.title }}
            </p>

            <div class="post-contents">
                <p class="post-text">
                    {{ post.content }}
                </p>

                <p class="post-tags">
                    {% for tag in post.tags.all %}
                        #{{ tag.name }}
                    {% endfor %}
                </p>
            </div>

            {% if post.links.all %}
            <div class="post-links">
                {% for link in post.links.all %}
                    <a class="post-link" href="{{ link.url }}" target="_blank">
                        {{ link.url }}
                    </a>
                {% endfor %}
            </div>
            {% endif %}

            {% if post.images.all %}
            <div class="post-images">
                {% for image in post.images.all %}
                    <img class="post-image"
                        src="{{ image.original.url }}"
                        alt="post image">
                {% endfor %}
            </div>
            {% endif %}

            <div class="post-bottom">
                <p class="post-bottom-button">
                    <img src="{% static 'my_publications/images/like.svg' %}" alt="">
                    120 Вподобань
                </p>

                <p class="post-bottom-button">
                    <img src="{% static 'my_publications/images/like_finger.svg' %}" alt="">
                    120 Коментарів
                </p>

                <p class="post-bottom-button">
                    <img src="{% static 'my_publications/images/eye.svg' %}" alt="">
                    120 Переглядів
                </p>
            </div>
        </div>
    </div>
{% endfor %}