<p class="title">Підтвердження пошти</p>
<p class="conf-p">Ми надіслали 6-значний код на вашу пошту (you@example.com). Введіть його нижче, щоб підтвердити аккаунт</p>
<form action="{% url 'confirm' %}" method="post">
    <div class="form">
    {% csrf_token %}
    <label for="email" class="label">Код підтвердження</label>
    <div class="code-inputs">
        {{ confirm_form.num1 }}
        {{ confirm_form.num2 }}
        {{ confirm_form.num3 }}
        {{ confirm_form.num4 }}
        {{ confirm_form.num5 }}
        {{ confirm_form.num6 }}
    </div>
    </div>
    <div class="buttons">
    <button type="submit" onclick="showAuth()" class="submit">Підтвердити</button>
    <button onclick="showReg()" class="behind">Назад</button>
    </div>
</form>