<p class="title">Підтвердження пошти</p>
<p class="conf-p">Ми надіслали 6-значний код на вашу пошту (you@example.com). Введіть його нижче, щоб підтвердити аккаунт</p>
<form action="" method="post">
    <div class="form">
    {% csrf_token %}
    <!-- {{ confirm_form.as_p }} -->
    <label for="email" class="label">Код підтвердження</label>
    <div class="code-inputs">
        <input type="text" name="conf" maxlength="1" required>
        <input type="text" maxlength="1" required>
        <input type="text" maxlength="1" required>
        <input type="text" maxlength="1" required>
        <input type="text" maxlength="1" required>
        <input type="text" maxlength="1" required>
    </div>
    </div>
    <div class="buttons">
    <button type="submit" onclick="showAuth()" class="submit">Підтвердити</button>
    <button onclick="showReg()" class="behind">Назад</button>
    </div>
</form>