{% load static %}
<div class="reg-auth-btns">
    <button onclick="showReg()" class="reg-auth-btn">Реєстрація</button>
    <button onclick="showAuth()" class="reg-auth-btn deactivate">Авторизація</button>
</div>
<p class="reg-auth-p">Приєднуйся до World IT</p>
<form action="{%url 'register'%}" method="post" id="regForm">
    <div class="form">
    <!-- {% csrf_token %} -->
    <div class="input-container">
        <label for="email" class="label">Електронна пошта</label>
        <div class="input">
            {{ reg_form.email }}
            <img src=""></div>
    </div>
    <div class="input-container">
        <label for="email" class="label">Пароль</label>
        <div class="input">
            {{ reg_form.password }}
            <img src="{% static 'user_app/images/eye.svg' %}" alt="show_pass" class="show-pass" onclick="showPass(this)">
        </div>
    </div>
    <div class="input-container">
        <label for="email" class="label">Пароль</label>
        <div class="input">
             {{ reg_form.confirm_password }}
            <img src="{% static 'user_app/images/eye.svg' %}" alt="show_pass" class="show-pass" onclick="showPass(this)">
        </div>
    </div>
    </div>
    <button type="submit" class="submit"> Створити новий акаунт </button>
    
</form>