{% extends 'base.html' %}
{% load static %}

{% block title %} Publications {% endblock title %}

{% block meta %} 
    <meta content="{{ csrf_token }}" name="csrf-token">
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'my_publications/css/my_publications.css' %}">
{% endblock links %}


{% block side-bar %}
    <div class="profile-block">
        <div class="top-data">
            <div class="indicator">
                <img src="{%static 'home_app/images/avatar.svg'%}" alt="Аватар">
                <span class="avatar-indicator"></span>
            </div>
            <div class="text-data">
                <p class="nickname">Lina Li</p>
                <p class="username">@thelili</p>
            </div>
        </div>

        <div class="bottom-data">
            <div class="user-data border-style">
                <p class="number-text">566</p>
                <p class="text">Дописи</p>
            </div>

            <div class="user-data border-style">
                <p class="number-text">12.1K</p>
                <p class="text">Читачі</p>

            </div>

            <div class="user-data">
                <p class="number-text">222</p>
                <p class="text">Друзі</p>
            </div>
        </div>
    </div>
{% endblock  %}

{% block content %}
    <div class="create-publications">
        <input type="text" class="text-publications" placeholder="Текст публікації">
        <div class="publications-buttons">
            <button class="buttong-img"><img src="{% static 'my_publications/images/Component 4.svg' %}" alt=""></button>
            <button class="to-publications" onclick="toggleStyleTag()">Перейти до оформлення</button>
        </div>
    </div>

        <div id="create-publication" style="display: none;">{% include 'my_publications/particles/form_create_publications.html' %}</div>
        <div id="new-tag-modal" style="display: none;">{% include 'my_publications/particles/new_tag.html' %}</div>

    <div class="post">
        <div class="post-header">
            <div class="post-header-content">
                <div class="post-avatar">
                    <img src="{% static 'my_publications/images/avatar.svg' %}" alt="">
                    <p class="user-name">Lina Li</p>
                
            </div>
            <img class="singnature" src="{% static 'my_publications/images/Interaction.svg' %}" alt="">
            </div>
            <button type="button" class="more"><img src="{% static 'my_publications/images/more.svg' %}" alt=""></button>
        </div>


        <div class="post-content">
            <p class="post-title">Природа, книга і спокій 🌿</p>
            <div class="post-contents">
                <p class="post-text">
                    Інколи найкращі ідеї народжуються в тиші
                    Природа, книга і спокій — усе, що потрібно, аби перезавантажитись.
                </p>
                <p class="post-tags">#відпочинок #натхнення #життя #природа #читання #спокій #гармонія</p> 
            </div>
            <div class="post-links">
                <a class="post-link" href="https://www.instagram.com/world.it.academy/?locale=ru">https://www.instagram.com/world.it.academy/?locale=ru</a>
            </div>
            <div class="post-images">
                <img class="post-image" src="{% static 'my_publications/images/Frame.svg' %}" alt=""" alt="">
                <img class="post-image" src="{% static 'my_publications/images/Frame2.svg' %}" alt=""" alt="">
                <img class="post-image" src="{% static 'my_publications/images/Frame3.svg' %}" alt=""" alt="">
            </div>
            <div class="post-bottom">
                <p class="post-bottom-button"><img src="{% static 'my_publications/images/like.svg' %}" alt="">120 Вподобань</p>
                <p class="post-bottom-button"><img src="{% static 'my_publications/images/like_finger.svg' %}" alt="">120 Вподобань</p>
                <p class="post-bottom-button"><img src="{% static 'my_publications/images/eye.svg' %}" alt="">120 Переглядid</p>
                
            </div>
        </div>
    </div>
    
{% endblock %}

{% block scripts %} <script src="{% static 'my_publications/js/showForm.js' %}"></script> {% endblock %}