{% extends 'base.html' %}
{% load static %}

{% block title %} Publications {% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static 'my_publications/css/my_publications.css' %}">
{% endblock links %}


{% block side-bar %}
    <div class="profile-block">
        <div class="top-data">
            <div class="indicator">
                <img src="{%static 'home_app/images/avatar.svg'%}" alt="Аватар">
                <span class="avatar-indicator"></span>
            </div>
            <div class="text-data">
                <p class="nickname">Lina Li</p>
                <p class="username">@thelili</p>
            </div>
        </div>

        <div class="bottom-data">
            <div class="user-data border-style">
                <p class="number-text">566</p>
                <p class="text">Дописи</p>
            </div>

            <div class="user-data border-style">
                <p class="number-text">12.1K</p>
                <p class="text">Читачі</p>

            </div>

            <div class="user-data">
                <p class="number-text">222</p>
                <p class="text">Друзі</p>
            </div>
        </div>
    </div>
{% endblock  %}

{% block content %}
    <div class="create-publications">
        <input type="text" class="text-publications" placeholder="Текст публікації">
        <div class="publications-buttons">
            <button class="buttong-img"><img src="{% static 'my_publications/images/Component 4.svg' %}" alt=""></button>
            <button class="to-publications" onclick="toggleStyleTag()">Перейти до оформлення</button>
        </div>
    </div>
    
    <div id="create-publication" style="display: none;">{% include 'my_publications/particles/form_create_publications.html' %}</div>
    <div id="new-tag-modal" style="display: none;">{% include 'my_publications/particles/new_tag.html' %}</div>
{% endblock %}

{% block scripts %} <script src="{% static 'my_publications/js/showForm.js' %}"></script> {% endblock %}