{% extends 'base.html' %}
{% load static %}

{% block title %} User {% endblock title %}

{% block meta %} 
    <meta content="{{ csrf_token }}" name="csrf-token">
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'home_app/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'my_publications/css/my_publications.css' %}">
{% endblock links %}

{% block content %}
    {%if form_user_setup %}
        <style>
            body::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); 
            z-index: 2; 
            pointer-events: none; 
        }
        </style>
        <form method="post" class="username-setup-form" id="usernameSetupForm" action="{% url 'setup_username' %}">
            {% csrf_token %}
            <p class="form-title">Додай деталі про себе</p> 

                <div class="inputs-group">
                    <div class="input-block">
                        <label for="first_name" class="form-label">Псевдонім автора</label>
                        {{ form_user_setup.first_name }}  
                    </div>

                    <div class="input-block">
                        <label for="first_name" class="form-label">Ім'я користувача</label>
                        {{ form_user_setup.username }}  
                    </div>
                </div>
            <div class="submit-block">
                <button type="submit" class="submit">Продовжити</button>
            </div>
        </form>
    {% endif %}
    <div class="create-publications">
        <input type="text" class="text-publications" placeholder="Текст публікації">
        <div class="publications-buttons">
            <button class="buttong-img"><img src="{% static 'my_publications/images/Component 4.svg' %}" alt=""></button>
            <button class="to-publications" onclick="toggleStyleTag()">Перейти до оформлення</button>
        </div>
    </div>

    <div id="create-publication" style="display: none;">{% include 'my_publications/particles/form_create_publications.html' %}</div>
    <div id="new-tag-modal" style="display: none;">{% include 'my_publications/particles/new_tag.html' %}</div>

    <div class="posts-list">
    {% include 'my_publications/particles/post_items.html' %}
    </div>

    <div id = "post-load-sentinel" style="height: 1px;"></div>
{% endblock %}

{% block side-bar %}
        
    <div class="profile-block">
        <div class="top-data">
            <div class="indicator">
                <img src="{% static 'home_app/images/avatar.svg' %}" alt="Аватар" class="avatar-img">
                
                <img src="{% static 'home_app/images/online.svg' %}" alt="Online" class="avatar-indicator">
            </div>
            <div class="text-data">
                <p class="nickname">{{ request.user.first_name }}</p>
                <p class="username">@{{ request.user.username }}</p>
            </div>
        </div>

        <div class="bottom-data">
            <div class="user-data border-style">
                <p class="number-text">566</p>
                <p class="text">Дописи</p>
            </div>

            <div class="user-data border-style">
                <p class="number-text">12.1K</p>
                <p class="text">Читачі</p>

            </div>

            <div class="user-data">
                <p class="number-text">222</p>
                <p class="text">Друзі</p>
            </div>
        </div>
    </div>
    <div class="requests">

    <div class="requests-header">
        <p class="requests-title"><img src="{% static 'home_app/images/people.svg' %}" alt="Запити на дружбу">Запити</p>
        <a class="requests-watch" href="{% url 'friends' %}">Дивитись всі</a>
    </div>

    <div class="requests-list">
        {% for person in friend_requests %}
            <a class="request-item" href="{% url 'user_posts' person.id %}">
                <img src="{% static 'home_app/images/user1.svg' %}" alt="Користувач">
                <div class="request-text">
                    <p class="request-name">
                        {% if person.first_name %}
                            {{ person.first_name }}
                        {% else %}
                            {{ person.username }}
                        {% endif %}
                    </p>
                    <p class="request-count-folower">4.3к підписників</p>
                </div>
            </a>
        {% empty %}
            <p class="empty-requests">Немає нових запитів</p>
        {% endfor %}
    </div>

    </div>

    <div class="messages">

        <div class="requests-header">
            <p class="requests-title"><img src="{% static 'home_app/images/chat.svg' %}" alt="Запити на дружбу">Повідомлення</p>
            <a class="requests-watch" href="{% url 'chats' %}">Дивитись всі</a>
        </div>

        <div class="requests-list">
            {% for item in recent_chats %}
                <a class="request-item" href="{% url 'chats' %}?id={{ item.chat_id }}">
                    
                    {% if item.other_user.avatar %}
                        <img src="{{ item.other_user.avatar.url }}" alt="Користувач" style="width: 45px; height: 45px; border-radius: 50%; object-fit: cover;">
                    {% else %}
                        <img src="{% static 'home_app/images/user4.svg' %}" alt="Користувач">
                    {% endif %}
                    
                    <div class="message-text">
                        <div class="message-informarion">
                            <p class="message-name">
                                {{ item.other_user.first_name|default:item.other_user.username }}
                            </p>
                            
                            <p class="message-time home-msg-time" data-utc="{{ item.iso_time }}"></p>
                        </div>
                        <p class="message-text-preview">{{ item.preview_text|truncatechars:40 }}</p>
                    </div>
                </a>
            {% empty %}
                <p class="empty-requests">У вас ще немає активних діалогів</p>
            {% endfor %}

        </div>
    </div>
{% endblock  %}

{% block scripts %}
    <script src="{% static 'home_app/js/usernameSetup.js' %}"></script>
    <script src="{% static 'home_app/js/home.js' %}"></script>
    <script src="{% static 'my_publications/js/showForm.js' %}"></script> 
    <script src="{% static 'my_publications/js/postLoad.js' %}"></script>
    <script src="{% static 'chats_app/js/onlineStatus.js' %}"></script>
{% endblock scripts %}