{% extends 'base.html' %}
{% load static %}

{% block title %} User {% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static 'home_app/css/home.css' %}">
{% endblock links %}

{% block content %}
    <h1>Home</h1>
    {%if form %}
        <form method="post">
            {% csrf_token %}
            <!-- {{ form.as_p }} -->
            <p class="form-title">Додай деталі про себе</p> 

                <div class = "inputs-group">
                    <div class="input-block">
                        <label for="first_name">Псевдонім автора</label>
                        {{ form.first_name }}  
                    </div>

                    <div class="input-block">
                        <label for="first_name">Ім'я користувача</label>
                        {{ form.username }}  
                    </div>
                </div>
            <button type="submit">Продовжити</button>
        </form>
    {% endif %}
{% endblock %}

{% block side-bar %}
    <div class="profile-block">
        <div class="top-data">
            <div class="indicator">
                <img src="{%static 'home_app/images/avatar.svg'%}" alt="Аватар">
                <span class="avatar-indicator"></span>
            </div>
            <div class="text-data">
                <p class="nickname">Lina Li</p>
                <p class="username">@thelili</p>
            </div>
        </div>

        <div class="bottom-data">
            <div class="user-data border-style">
                <p class="number-text">566</p>
                <p class="text">Дописи</p>
            </div>

            <div class="user-data border-style">
                <p class="number-text">12.1K</p>
                <p class="text">Читачі</p>

            </div>

            <div class="user-data">
                <p class="number-text">222</p>
                <p class="text">Друзі</p>
            </div>
        </div>
    </div>
    <div class="requests">

        <div class="requests-header">
            <p class="requests-title"><img src="{% static 'home_app/images/people.svg' %}" alt="Запити на дружбу">Запити</p>
            <a class="requests-watch" href="#">Дивитись всі</a>
        </div>

        <div class="requests-list">
            <a class="request-item" href="#">
                <img src="{% static 'home_app/images/user1.svg' %}" alt="Користувач">
                <div class="request-text">
                    <p class="request-name">Yehor Aung</p>
                    <p class="request-count-folower">4.3к підписників</p>
                </div>
            </a>

            <a class="request-item" href="#">
                <img src="{% static 'home_app/images/user2.svg' %}" alt="Користувач">
                <div class="request-text">
                    <p class="request-name">Ann Ann</p>
                    <p class="request-count-folower">1.6к підписників</p>
                </div>
            </a>

            <a class="request-item" href="#">
                <img src="{% static 'home_app/images/user3.svg' %}" alt="Користувач">
                <div class="request-text">
                    <p class="request-name">Yeugen Jenua</p>
                    <p class="request-count-folower">10.3к підписників</p>
                </div>
            </a>

        </div>
    </div>

    <div class="messages">

        <div class="requests-header">
            <p class="requests-title"><img src="{% static 'home_app/images/chat.svg' %}" alt="Запити на дружбу">Повідомлення</p>
            <a class="requests-watch" href="#">Дивитись всі</a>
        </div>

        <div class="requests-list">
            <a class="request-item, message-read" href="#">
                <img src="{% static 'home_app/images/user4.svg' %}" alt="Користувач">
                <div class="message-text">
                    <div class="message-informarion">
                        <p class="message-name">Mona Lisa</p>
                        <p class="message-time">09:41</p>
                    </div>
                    <p class="message-text-preview">Привіт! Як справи ?</p>
                </div>
            </a>

            <a class="request-item, message-read" href="#">
                <img src="{% static 'home_app/images/user5.svg' %}" alt="Користувач">
                <div class="message-text">
                    <div class="message-informarion">
                        <p class="message-name">Ann Ti</p>
                        <p class="message-time">25.04.2025</p>
                    </div>
                    <p class="message-text-preview">Привіт!</p>
                </div>
            </a>

            <a class="request-item" href="#">
                <img src="{% static 'home_app/images/user6.svg' %}" alt="Користувач">
                <div class="message-text">
                    <div class="message-informarion">
                        <p class="message-name">Ness Ty</p>
                        <p class="message-time">25.04.2025</p>
                    </div>
                    <p class="message-text-preview">Привіт!</p>
                </div>
            </a>

        </div>
    </div>
{% endblock  %}
