{% load static %}

{% for key, section in sections.items %}

<div class="friends-block">

    <div class="friends-block-header">

        <p class="friends-block-title">
            {{ section.title }}
        </p>

        <button
            class="friends-block-link"
            data-open-section="{{ key }}"
        >
            Дивитись всі
        </button>

    </div>


    <div class="friends-block-content">

        {% include "friends_app/particles/friend_cards.html" with users=section.users section=key %}

    </div>

</div>

{% endfor %}