{% load static %}

<div class="friends-block" id="recommendations">
    <div class="friends-block-header">
        <p class="friends-block-title">Рекомендації</p>
    </div>

    <div class="friends-block-content">

        <div class="profile-block">
            <div class="top-data">
                <div class="indicator">
                    <img src="{%static 'home_app/images/avatar.svg'%}" alt="Аватар">
                    <span class="avatar-indicator"></span>
                </div>
                <div class="text-data">
                    <p class="nickname">Lina Li</p>
                    <p class="username">@thelili</p>
                </div>
            </div>

            <div class="bottom-data">
                <a href=""class="confirm-link">Додати</a>
                <a href=""class="delete-link">Видалити</a>
            </div>
        </div>

        <div class="profile-block">
            <div class="top-data">
                <div class="indicator">
                    <img src="{%static 'home_app/images/avatar.svg'%}" alt="Аватар">
                    <span class="avatar-indicator"></span>
                </div>
                <div class="text-data">
                    <p class="nickname">Lina Li</p>
                    <p class="username">@thelili</p>
                </div>
            </div>

            <div class="bottom-data">
                <a href=""class="confirm-link">Додати</a>
                <a href=""class="delete-link">Видалити</a>
            </div>
        </div>

        <div class="profile-block">
            <div class="top-data">
                <div class="indicator">
                    <img src="{%static 'home_app/images/avatar.svg'%}" alt="Аватар">
                    <span class="avatar-indicator"></span>
                </div>
                <div class="text-data">
                    <p class="nickname">Lina Li</p>
                    <p class="username">@thelili</p>
                </div>
            </div>

            <div class="bottom-data">
                <a href=""class="confirm-link">Додати</a>
                <a href=""class="delete-link">Видалити</a>
            </div>
        </div>

        <div class="profile-block">
            <div class="top-data">
                <div class="indicator">
                    <img src="{%static 'home_app/images/avatar.svg'%}" alt="Аватар">
                    <span class="avatar-indicator"></span>
                </div>
                <div class="text-data">
                    <p class="nickname">Lina Li</p>
                    <p class="username">@thelili</p>
                </div>
            </div>

            <div class="bottom-data">
                <a href=""class="confirm-link">Додати</a>
                <a href=""class="delete-link">Видалити</a>
            </div>
        </div>

        <div class="profile-block">
            <div class="top-data">
                <div class="indicator">
                    <img src="{%static 'home_app/images/avatar.svg'%}" alt="Аватар">
                    <span class="avatar-indicator"></span>
                </div>
                <div class="text-data">
                    <p class="nickname">Lina Li</p>
                    <p class="username">@thelili</p>
                </div>
            </div>

            <div class="bottom-data">
                <a href=""class="confirm-link">Додати</a>
                <a href=""class="delete-link">Видалити</a>
            </div>
        </div>

        <div class="profile-block">
            <div class="top-data">
                <div class="indicator">
                    <img src="{%static 'home_app/images/avatar.svg'%}" alt="Аватар">
                    <span class="avatar-indicator"></span>
                </div>
                <div class="text-data">
                    <p class="nickname">Lina Li</p>
                    <p class="username">@thelili</p>
                </div>
            </div>

            <div class="bottom-data">
                <a href=""class="confirm-link">Додати</a>
                <a href=""class="delete-link">Видалити</a>
            </div>
        </div>

    </div>

</div>