.side-bar{
    height: 801px;
}

.profile-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.0625rem solid #CDCED2;
    border-radius: 0.625rem;
    background: #FFFFFF;
    padding: 1rem 0;
    margin: 0.5rem 0;
    margin-top: 1rem;
    gap: 1rem;
}

.top-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
}

.nickname{
    font-size: 1.5rem;
    font-style: bold;
    font-weight: 700;
    color: #070A1C;
    margin: 0%;
    gap: 0.5rem;
}
.username{
    font-size: 1rem;
    font-weight: 500;
    font-style: medium;
    color: #070A1C;
    margin: 0%;
    letter-spacing: 0.001rem;
}

.bottom-data{
    display: flex;
    /* padding: 0.625rem; */
}

.user-data, .border-style {
    width: 116px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4375rem;
    
}

.border-style {
    border-right: 1px solid #000000;
}

.number-text{
    margin: 0;
    font-style: bold;
    font-size: 1.25rem;
    font-weight: 700;
}

.text{
    margin: 0;
    font-style: medium;
    font-size: 1rem;
    font-weight: 500;
    color: #81818D;
}

.requests {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.0625rem solid #CDCED2;
    border-radius: 0.625rem;
    background: #FFFFFF;
    gap: 1.5rem;
    padding: 1rem 0;
    margin: 0.5rem 0;

}

.requests-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* margin: 0; */
}

.requests-title {
    padding-left: 1rem;   
    gap: 0.5rem;
    display: flex;
    align-items: center;
    font-style: medium;
    font-size: 1.25rem;
    font-weight: 500;
    color: #81818D;
    margin: 0;
}

.requests-watch {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    font-style: medium;
    font-size: 1rem;
    font-weight: 500;
    color: #543C52;
    line-height: 1.5rem;
}

.requests-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    /* padding: 0; */
    margin: 0;
    /* padding-bottom: 1rem; */
}

.request-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 90%;
    height: 46px;
}

.request-text{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    /* align-items: center; */
    /* justify-content: space-between; */
}

.request-name {
    margin: 0;
    font-style: medium;
    font-size: 1rem;
    font-weight: 500;
    color: #070A1C;
    font-family: GT Walsheim Pro;
   line-height: 1rem;
}

.request-count-folower {
    margin: 0;
    font-style: medium;
    font-size: 0.875rem;
    font-weight: 400;
    color: #81818D;
}



.message-text {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 0.5rem;
    width: 90%;
    margin: 0;
}
.message-informarion {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    margin: 0;
}

.message-name {
    margin: 0;
    font-style: medium;
    font-size: 1rem;
    font-weight: 500;
    color: #070A1C;
    font-family: GT Walsheim Pro;
   line-height: 1rem;
}
.message-time {
    margin: 0;
    font-style: regular;
    font-size: 0.750rem;
    font-weight: 400;
    color: #81818D;
}
.message-text-preview {
   margin: 0;
    font-style: regular;
    font-size: 0.875rem;
    font-weight: 400;
    color: #070A1C;
}