.profile-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.create-btn{
    all: unset;
    cursor: pointer;
    width: 19.80rem;
    /*max-height: 3.25rem; */
    border-style: solid;
    background-color: #543C52;
    border-radius: 77rem;
    padding: 0.625rem 1rem;
    font-family: GT Walsheim Pro, sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: -0.6%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0.0625rem;
    gap: 0.5rem;
}

.contacts{
    width: 19.80rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: white;
    border: 0.0625rem solid #CDCED2;
    border-radius: 0.625rem;
    padding:1rem;
}

.top-contacts-container{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.kontakti{
    font-family: GT Walsheim Pro, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    margin: 0;
    color: #81818D;
}

.input-container-poshuk{
    display: flex;
    align-items: center;
    height: 2.625rem;
    width: 19.80rem;
    gap: 0.625rem;
    border: 0.0625rem solid #CDCED2;
    border-radius: 0.625rem;
}

.pushuk-input{
    all: unset;
    cursor: pointer;
    
}

.input-container-poshuk img{
    padding-left: 0.5rem;
}
.contacts-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    scrollbar-color: #543C52 #E9E5EE;
    scrollbar-width: auto;
    height: 35rem;
    overflow-y: auto;
}

.single-contact-container{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.contacts-txt{
    font-size: 1rem;
    color: #070A1C ;
    font-family: GT Walsheim Pro, sans-serif;
    font-weight: 500;
    margin: 0;
}

.main-chat{
    width: 35.125rem;
    height: 47.5rem;
    display: flex;
    background-color: white;
    border: 0.0625rem solid #CDCED2;
    border-radius: 0.625rem;
    align-items: center;
    justify-content: center;
}

.main-chat-header{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.main-chat-text-placeholder {
    font-family: GT Walsheim Pro, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: -1%;
    margin: 0;
    color: #070A1C;
}

.main-chat-text{
    font-family: GT Walsheim Pro, sans-serif;
    font-weight: 400;
    font-style: medium;
    font-size: 1rem;
    letter-spacing: -1%;
    margin: 0;
    color: #070A1C;
    text-align: center;
}

.right-side-contacts{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.right-side-contacts-notifications{
    width: 19.80rem;
    /* height: 45.5rem; */
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 0.0625rem solid #CDCED2;
    border-radius: 0.625rem;
    padding: 1rem;
}

.right-side-contacts-content{
    display: flex;
    flex-direction: column;
    height: 19.07rem;
    overflow-y: auto;
    scrollbar-color: #543C52 #E9E5EE;
    scrollbar-width: auto;
    overflow-x: hidden;
}

.right-side-grups-content{
    display: flex;
    flex-direction: column;
    height: 19.07rem;
    overflow-y: auto;
    scrollbar-color: #543C52 #E9E5EE;
    scrollbar-width: auto;
    overflow-x: hidden;
}

.right-side-contacts-notifications-header{
    width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    
}

.right-side-contacts-notifications-txt-left{
    font-family: GT Walsheim Pro, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    margin: 0;
    color: #81818D;
    display: flex;
    gap: 0.5rem;
}

.right-side-contacts-notifications-txt-right{
    font-family: GT Walsheim Pro, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
    color: #543C52;
}

.right-side-contacts-notifications-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
}

.right-side-contacts-notifications-body-contact{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
    padding: 0.25rem;
    height: 2.845rem;
}

.right-side-contacts-notifications-body-contact-main-txt{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    height: 2.75rem;
}

.right-side-contacts-notifications-body-contact-main-txt-name{
    font-family: GT Walsheim Pro, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
    color: #070A1C;
}

.right-side-contacts-notifications-body-contact-main-txt-message{
    font-family: GT Walsheim Pro, sans-serif;
    font-weight: 400;
    font-style: medium;
    font-size: 0.875rem;
    margin: 0;
    color: #070A1C;
    flex-wrap: nowrap;
}

.right-side-contacts-notifications-body-contact-sub-time{
    font-family: GT Walsheim Pro, sans-serif;
    font-weight: 400;
    font-style: medium;
    font-size: 0.755rem;
    margin: 0;
    margin-left: 6.0rem;
    margin-bottom: 1.25rem;
    color: #070A1C;
}