a {
    all: unset;
    cursor: pointer;      
}

header {
    background-color: white;
    /* padding: 1.6rem 0;  */
    /* padding: 0; */
    height: 5.8rem;
    display: flex;
    align-items: center;
}

.container {
    width: 80rem;
    margin: 0 auto;
    padding: 0 0rem; 
    
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 21rem;
}

.logo {
    font-weight: bold;
    color: #543C52;
    width: 9rem;
    height: 1.125rem;
    /* padding-left: 5rem; */
}

.logo-image {
    width: 9rem;
    height: 1.125rem;
}

.darkened{
    background-color: #E9E5EE;
}

.navbar-url {
    display: flex;
    color: #070A1C;
    user-select: none;
    cursor:pointer;
    padding: 0.25rem 0.5rem;
    align-items: center;
    justify-content: center;
    gap: .375rem;
    border-radius: 0.187rem;
    white-space: nowrap;
}


.logout-btn {
    display: flex;
    cursor:pointer;
    user-select: none;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: white;
    border: 0.0625rem solid black;
    border-radius: 77.125rem;
    padding: 0.625rem 1rem 0.625rem 1rem
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FAF8FF;
}

.navbar{
    gap: 1.5rem;
    display: flex; 
    align-items: center; 
    justify-content: center;
    /* padding-right: 5rem; */
}

.logout-text{
    color: #543C52;
    margin: 0; 
    font-size: 0.875rem;
}

.navbar-text{
    font-size: 1rem;
    margin: 0;
}

.navbar-image{
    width: 1.25rem;
    height: 1.25rem;
}

main {
    display: flex;
    justify-content: space-between;
    /* gap: 2rem; */

    max-width: 1440px;
    margin: 0 auto; 
    padding: 0;
}

/* обертка не нужна — используем сам main */
.side-bar {
    width: 21.875rem; /* 350px */
    padding-left: 5rem;
}

.content {
    width: 57.6875rem; /* 923px */
    padding-right: 5rem;
}

/* чтобы они стояли рядом */
